*
{
	box-sizing: border-box;
	font-family: inherit;
}

html, body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
    width: 100%;
    display: table;
}

body
{
	font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
	background-color: rgb(240, 240, 240);
}

#contenu
{
	max-width: 600px;
	margin: 0px auto;
}

h1
{
	font-size: 2em;
	margin: 0px 0px 14px 0px;
	padding: 0px;
}

h2
{
	font-size: 1.5em;
	margin: 0px 0px 3px 0px;
}

a:not(.channel)
{
	text-decoration: none;
	color: rgb(70, 70, 200);
}

a:not(.channel):visited
{
	color: rgb(70, 70, 200);
}

a:not(.channel):hover
{
	color: rgb(100, 100, 245);
}

a:not(.channel):active
{
	color: rgb(200, 70, 70);
}

.bouton, .entree, .selecteur
{
	display: block;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	margin: 4px 0px;
	width: 100%;
}

textarea
{
	min-width: 100%;
	max-width: 100%;
}

.entree
{
	padding: 10px;
	border: 1px solid rgb(70, 70, 200);
	color: rgb(0, 0, 0);
	border-radius: 4px;
}
.entree::placeholder
{
	opacity: 1;
	color: rgb(130, 130, 130);
}

.bouton
{
	padding: 11px;
	border: 0px;
	background-color: rgb(70, 70, 200);
	cursor: pointer;
	color: rgb(225, 225, 255);
	border-radius: 4px;
}

.bouton:hover
{
	color: rgb(255, 255, 255);
}

.bouton:active
{
	background-color: rgb(200, 70, 70);
}

.selecteur
{
	padding: 9px;
	border: 1px solid rgb(70, 70, 200);
}

.selecteur::selection
{
	color: green;
}

option[value=""]
{
	display: none;
}

table, tr
{
	border-collapse: collapse;
	border-spacing: 0px;
}

tr:nth-child(odd)
{
	background-color: rgb(255, 255, 255);
}

tr:nth-child(even)
{
	background-color: rgb(250, 250, 250);	
}

td
{
	padding: 6px 12px;
	text-align: left;
}

th
{
	background-color: rgb(70, 70, 200);
	color: rgb(255, 255, 255);
	font-weight: normal;
	letter-spacing: 1px;
	padding: 12px;
	font-size: 1em;
	text-align: left;
}

.message
{
	background-color: white;
	padding: 14px;
	margin: 8px 0px;
	border-radius: 16px 16px 16px 0px;
}

.message h2
{
	font-weight: normal;
	font-size: 1.2em;
	margin: 0px 0px 4px 0px;
	padding: 0px;
}

.message p
{
	margin: 0px;
	word-wrap: break-word;
}

.channel, .channel-active
{
	display: block;
	padding: 8px;
	margin: 8px 0px;
	border: 1px solid rgb(70, 70, 200);
	text-decoration: none;
}

.channel
{
	background-color: white;
	color: rgb(70, 70, 200);
}

.channel-active
{
	background-color: rgb(70, 70, 200);
	color: white;
}

.error
{
	display: block;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	margin: 4px 0px;
	min-width: 100%;
	max-width: 100%;
	background: orangered;
	color: white;
	padding: 10px;
	border-radius: 4px;
}

footer {
    background-color: grey;
    display: table-row;
    height: 0;
	background: rgb(70, 70, 200);
	color: white;
	
}

footer .content
{
	margin: 0px;
	text-align: center;
}

footer .content a, footer .content a:visited
{
	color: white;
}