//- PARAMETRES PASSES AU TEMPLATE :
//- title
doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    #contenu
      h1 Admin Panel
      h2 Ajouter un utilisateur
      form(method="post" action="/admin/add_user")
        input(class="entree" type="text" placeholder="Pseudo" name="nom_complet" required="true")
        input(class="entree" type="email" size="30" placeholder="E-mail" name="email" pattern="^[_a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)*(\\.[a-zA-Z]+)$" required="true")
        input(class="entree" type="password" placeholder="Mot de passe" name="password" required="true")
        input(class="bouton" type="submit" value="Ajouter")
      br
      h2 Ajouter un canal
      form(method="post" action="/admin/add_channel")
        input(class="entree" type="text" placeholder="Nom du canal" name="nom_canal" required="true")
        input(class="bouton" type="submit" value="Ajouter")
      br
      a(href="/") <<< Retour à l'accueil