//- PARAMETRES PASSES AU TEMPLATE :
//- title
doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    #contenu
      h1 Channels
      #channels
        each channel in channels
         a(href="/chat/"+channel.id).channel #{channel.name}
  br
  include footer.pug