//- PARAMETRES PASSES AU TEMPLATE :
//- title
//- messages
doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    #contenu
      h1 Channels
      #channels
        each channel in channels
          if channel.id == idChannel
            a(href="/chat/"+channel.id).channel.channel-active #{channel.name}
          else
            a(href="/chat/"+channel.id).channel #{channel.name}
      h1 Chat
      #messages
        each message in messages
          .message
            -
              function dd(x)
              {
                if (x < 10) return "0" + x
                return "" + x
              }
              function formatterDateBdd(dateBdd)
              {
                let date = new Date(dateBdd)
                let jj = dd(date.getDate())
                let mm = dd(date.getMonth() + 1)
                let aaaa = date.getFullYear()
                let hh = dd(date.getHours())
                let mi = dd(date.getMinutes())
                let ss = dd(date.getSeconds())
                return `le ${jj}/${mm}/${aaaa} à ${hh}:${mi}:${ss}`
              }
            h2
              b #{message.pseudo}
              | #{' '} #{formatterDateBdd(message.date)}
            p #{message.content}
      #envoi
        form(method="post" action=`/envoyer_message/${idChannel}`)
          textarea(class="entree" placeholder="Message" name="message" required="true")
          input(class="bouton" type="submit" value="Envoyer un message")
        a(href="/channels") <<< Retour aux channels
  br
  include footer.pug
        