//- PARAMETRES PASSES AU TEMPLATE :
//- message


doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    #contenu
        h1 Erreur
        br
        p= message
  br
  include footer.pug