//- PARAMETRES PASSES AU TEMPLATE :
//- title
doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' type='text/css' href='/css/style.css')
  body
    #contenu
      h1 Connexion
      - if(conn_error == 'USER_NOT_FOUND')
        .error
          h3 Erreur de connexion :
          p Combinaison login/mot de passe incorrecte
      form(method="post" action="/login")
        input(class="entree" type="text" placeholder="E-mail" name="email" required="true")
        input(class="entree" type="password" placeholder="Mot de passe" name="password" required="true")
        input(class="bouton" type="submit" value="Se connecter")
        